# Dependencies
node_modules/
.pnpm-store/

# Build & Bundler outputs
dist/
build/
.output/
.turbo/
*.tsbuildinfo

# PartyKit
.partykit/
**/.partykit/

# Environment files
.env
.env.*
!.env.example

# Testing
coverage/
*.lcov
.nyc_output/

# IDE / OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
